#imgLogo {
  width: 60px;
  height: 60px;
}

h1 {
  font-size: 1.4em;
}

#heroColor {
  background-color: #f3f5f7;
}

.imgSistem {
  width: 170px;
  height: 150px;
}
p {
  margin: 0;
}
.fontSizeReduce {
  font-size: 0.9em;
}
