<div class="py-2 text-center mx-3 mt-2" id="heroColor">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img
          class="d-block mx-auto mb-1"
          id="imgLogo"
          src="../../../assets/img/bikiniLogo.png"
          alt=""
        />
      </div>
      <div class="col-md-3">
        <div class="row flex-column">
          <div class="col"><i class="bi bi-clock fs-2"></i></div>
          <div class="col"><p class="fw-bold">Spedizione in 24 ore</p></div>
          <div class="col">
            <p class="fontSizeReduce">Gratis sopra i 50 EURO</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row flex-column">
          <div class="col"><i class="bi bi-box2-heart fs-2"></i></div>
          <div class="col"><p class="fw-bold">Reso gratuito</p></div>
          <div class="col"><p class="fontSizeReduce">Entro 30 giorni</p></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row flex-column">
          <div class="col"><i class="bi bi-chat-left-text fs-2"></i></div>
          <div class="col"><p class="fw-bold">Chiedici un consiglio</p></div>
          <div class="col">
            <p class="fontSizeReduce">Assistenza dalle 9 alle 21:30</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-2 mb-md-0">
        <div class="row flex-column">
          <div class="col"><i class="bi bi-wallet2 fs-2"></i></div>
          <div class="col"><p class="fw-bold">Pagamento sicuro</p></div>
          <div class="col">
            <p class="fontSizeReduce">Carta di Credito o PayPal,Contrassegno</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container border-bottom border-1">
  <div class="row">
    <div class="col-12 text-center">
      <p class="m-0 fw-bold">I nostri marchi</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2pyJ4wXtvVaOQ23SL_3hTMi6Ck9z6yaDs0g&s"
            alt=""
            class="imgSistem"
          />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR38xcL_4YsWr-dKMZJCfLeWkcvu63oF6KOJQ&s"
            alt=""
            class="imgSistem"
          />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5-bUuL07SrezrayMe35wzbqn1HwMFO3jGJbsDbeT0kM1x0kIZQImsc_A3JtyFQqT44xY&usqp=CAU"
            alt=""
            class="imgSistem"
          />
        </div>
      </div>
    </div>
  </div>
</div>
