<div class="container">
  <div
    class="row row-cols-3 d-flex justify-content-center align-items-center mx-2 mb-2 mt-2"
  >
    <!-- Colonna Sinistra-->
    <div class="col-md-4 d-none d-md-block">
      <div class="row">
        <div class="col">
          <img
            src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/0bb51559-62fb-4255-a9e7-3a2ce1c07b0c___57c5c6d5d1c595cb752077829ef92a9b.jpg"
            alt="Bikini image"
          />
        </div>
        <div class="col mt-1">
          <img
            src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/6a46f205-847e-4aed-bda4-1f7730572034___d31d3215ba89d8c4a451f8ff0bb48901.webp"
            alt="Bikini image"
          />
        </div>
      </div>
    </div>
    <!-- Colonna Centrale-->
    <div class="col-12 col-md-4">
      <div>
        <app-card [cardBikini]="currentBikini"></app-card>
      </div>
    </div>
    <!-- Colonna Destra-->
    <div class="d-none d-md-block col-md-4">
      <div class="row">
        <div class="col">
          <img
            src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/4cf7ef6a-2bd4-4738-8b8b-5a42d254b5ca___4a915e828ea593a3cccee432cd0897ba.webp"
            alt="Bikini image"
          />
        </div>
        <div class="col mt-1">
          <img
            src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/cc9bf2bb-b808-4ed0-a832-060f35ae1d20___5f46d259a028abaf4815d953d8dee386.webp"
            alt="Bikini image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
