<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 d-none align-items-center align-items-end d-md-flex">
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/eb2dff36-4ae6-4bad-8cac-c30e1aa673f5___710714014e4d1143c0e8bff6f3d54a14.png"
        alt="Bikini image"
        class="w-50"
      />
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/6b6244a9-07ab-4097-87e9-b87d90735b77___53fc97c399ca30efc02072d572fef91c.png"
        alt="Bikini image"
        class="w-50"
      />
    </div>
    <div class="col-6 d-flex justify-content-center mt-3">
      <img
        src="https://staging-eu01-calzedonia.demandware.net/on/demandware.static/-/Library-Sites-TezenisContentLibrary/default/v02d527f32ef432390a489db348a2144d7a38a338/images/Landing/TZN_20220810_OctoberRunway_LP/all_LPCW4022_TheSoundOfTEZ_Logo_tzn.png"
        alt="Bikini image"
        id="imgLogo"
      />
    </div>
    <div class="col-3 d-none align-items-center align-items-end d-md-flex">
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/3098b179-e6cd-46ec-886f-98e967729050___4f29d0eea1b2bc95a9d3a986cfa44329.png"
        alt="Bikini image"
        class="w-50"
      />
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/414be007-06b8-4d14-823c-986b97ee77ff___92bddcda12de2e6d5e676a04f10905a2.png"
        alt="Bikini image"
        class="w-50"
      />
    </div>
  </div>
</div>
<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-evenly mt-3"
>
  <div class="d-inline-block mx-2 mb-2" *ngFor="let bikini of bikiniArr">
    <app-card [cardBikini]="bikini"></app-card>
  </div>
</div>
