<nav
  class="navbar navbar-expand-lg p-0 border-bottom position-sticky top-0 z-1"
>
  <div class="container-fluid">
    <img
      src="https://images-platform.99static.com//TNoTiDdXg4epglUat_kSoIioLlo=/328x1437:1679x2787/fit-in/500x500/99designs-contests-attachments/143/143261/attachment_143261771"
      alt="Logo"
      class="d-inline-block align-text-top me-2 p-1"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Yamamay" routerLinkActive="active"
            >Yamamay</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Tezenis" routerLinkActive="active"
            >Tezenis</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Calzedonia" routerLinkActive="active"
            >Calzedonia</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
