<div class="container">
  <div class="row justify-content-center">
    <div class="col-3 d-none align-items-center align-items-end d-md-flex">
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/2c8535f4-5bf7-4d69-9bc3-dde7d43a24a1___638fde6eb9c05b9a6238e3c5feed528e.png"
        alt="Bikini image"
        class="w-50"
      />
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/cd67106a-5f43-45f2-9f3b-9e325543925f___cd0345d81b08fe8551dba7c098e72228.png"
        alt="Bikini image"
        class="w-50"
      />
    </div>
    <div class="col-6 d-flex justify-content-center mt-3">
      <img
        src="https://logowik.com/content/uploads/images/calzedonia-old9817.logowik.com.webp"
        alt="Bikini image"
        id="imgLogo"
      />
    </div>
    <div class="col-3 d-none align-items-center align-items-end d-md-flex">
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/3098b179-e6cd-46ec-886f-98e967729050___4f29d0eea1b2bc95a9d3a986cfa44329.png"
        alt="Bikini image"
        class="w-50"
      />
      <img
        src="https://yamamay.vtexassets.com/assets/vtex.file-manager-graphql/images/414be007-06b8-4d14-823c-986b97ee77ff___92bddcda12de2e6d5e676a04f10905a2.png"
        alt="Bikini image"
        class="w-50"
      />
    </div>
  </div>
</div>
<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-evenly mt-3"
>
  <div class="d-inline-block mx-2 mb-2" *ngFor="let bikini of bikiniArr">
    <app-card [cardBikini]="bikini"></app-card>
  </div>
</div>
